<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    "ebisu_admin/application", media: "all" %>
  <%= javascript_include_tag "ebisu_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <%= render 'ebisu_admin/shared/sidebar'%>
      </div>
      <div class="right_col" role="main" style="min-height: 680px;">
        <%= render 'ebisu_admin/shared/header'%>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <% if notice.present? %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'ebisu_admin/shared/footer'%>
    </div>
  </div>

</body>
</html>
